<header class="header-section">
    <div class="container">
        <div class="row row align-items-center">
            <div class="col-auto">
                <div class="header-image">
                    <img src="{{ url_for('static', filename='images/python-logo-100.png') }}" alt="PythonShop Logo"
                         class="img-fluid rounded">
                </div>
            </div>
            <div class="col-auto">
                <div class="header-content">
                    <h1 class="display-4">PythonShop</h1>
                    <p class="lead header-text">Python Shop - для истинных фанатов Python</p>
                </div>
            </div>
        </div>
    </div>
</header>